<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.0.255-preview-ga4c683bf62" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.0.0-preview-2-31221-277" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.0.255-preview-ga4c683bf62" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.0.255-preview-ga4c683bf62" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.0.255-preview-ga4c683bf62" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.0.255-preview-ga4c683bf62" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="16.10.56" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="16.9.32" targetFramework="net48" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.0.3177-preview3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>